{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin",
    ["module-resolver", {
      "@public":  ["./public"],
      "@components": ["./src/components"],
      "@globalStyles": ["./src/globalStyles"],
      "@hooks": ["./src/hooks"],
      "@lib": ["./src/lib"],
      "@pages":  ["./src/pages"]
    }]
  ]
}
